name: CI

on:
  push:
    branches:
      - main
      - '*'
      - '*/*'
      - '*-*'

jobs:
  test-lint-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Restore node modules cache
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Test code
        run: yarn test
      - name: Build
        run: yarn build
  change:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@main"

      - name: "Install dependencies"
        run: "yarn install --frozen-lockfile"

      - name: "Run checks"
        uses: "./.github/actions/check"

      - name: "Build"
        run: "yarn build"

      - name: "Changesets: version or release"
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: "changesets/action@main"
        run: |
          cat << EOF > "$HOME/.npmrc"
            email=nazeehvahora.786@gmail.com
            //registry.npmjs.org/:_authToken=$NPM_TOKEN
          EOF
        with:
          publish: "yarn release"
          # commit: "ci(release): version packages"
        env:
          NPM_TOKEN: "${{ secrets.NPM_TOKEN }}"
          GITHUB_TOKEN: "${{ secrets.GH_TOKEN }}"
  chromatic-deployment:
    runs-on: ubuntu-latest
    # Job steps
    steps:
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: yarn
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
